.main-menu input{
display: block;
margin:  auto;
margin-bottom: 10px;
padding: 20px;
}

.choiceOrder {
margin-top: 15px;
}
.choiceOrder select{
    width: 200px;
}
input{
    width: 200px;
    margin-top : 15px;
    margin-left: 10px;
}
select{
    margin-left: 10px;
}
.commentAndRate input{
 display: block;   
 margin: 15px;
}

.accept {
    margin-top: 15px;
}
.startMove{
    margin-top: 15px;
}
.regUser input{
    display: block;   
    margin: 15px;
}